In [1]:
import pandas as pd

In [2]:
pd.Series(9, {'a','b','c'})

b    9
c    9
a    9
dtype: int64

In [3]:
pd.Series(9, ['a','b','c'])

a    9
b    9
c    9
dtype: int64

In [5]:
pd.Series([9,3,5], ['a','b','c'])

a    9
b    3
c    5
dtype: int64

In [8]:
a = pd.Series([9,3,"ss"], ['a','b','c'])
a

a     9
b     3
c    ss
dtype: object

In [17]:
b = pd.Series([2,"bb",100], ['b','c','a'])
b

b      2
c     bb
a    100
dtype: object

In [18]:
c=a+b
c

a     109
b       5
c    ssbb
dtype: object

In [19]:
a[:2], b[:2], c[:2]

(a    9
 b    3
 dtype: object, b     2
 c    bb
 dtype: object, a    109
 b      5
 dtype: object)

In [21]:
df = pd.concat([a, b, c], axis=1)
df

    0    1     2
a   9  100   109
b   3    2     5
c  ss   bb  ssbb

In [22]:
df = pd.concat([a, b, c], axis=0)
df

a       9
b       3
c      ss
b       2
c      bb
a     100
a     109
b       5
c    ssbb
dtype: object

In [27]:
a.name = "a"
b.name = "bb"
c.name = "ccc"

In [28]:
df = pd.concat([a, b, c], axis=1)
df

    a   bb   ccc
a   9  100   109
b   3    2     5
c  ss   bb  ssbb

In [29]:
df = pd.concat([a, b, c], axis=0)
df

a       9
b       3
c      ss
b       2
c      bb
a     100
a     109
b       5
c    ssbb
dtype: object